.network {
    height: 750px;
    @include xs {
        height: 550px;
    }
    &__content {
        display: flex;
        justify-content: flex-start;
        padding-left: 20%;
        min-height: 60px;
        position: absolute;
        top: 0;
        left: 12%;
        @include xs {
            position: initial;
        }
        ;
        h2 {
            width: 100vw;
            text-align: left;
            @include text(45px, s, 48px, black, uppercase);
            @include xs {
                @include text(28px, s, 48px, black, uppercase);
            }
        }
        p {
            text-align: left;
            max-width: 700px;
            min-width: 630px;
            @include text(26px, s, 30px, black, uppercase);
            @include xs {
                @include text(16px, s, 32px, black, uppercase);
            }
        }
    }
    &__img {
        position: relative;
        display: flex;
        align-items: flex-end;
        &-view {
            position: absolute;
            top: 0;
            left: 0;
            width: 25%;
            height: 100%;
            ;
            img {
                width: 100%;
                ;
            }
        }
        &-earth {
            position: absolute;
            bottom: 0;
            left: 10%;
            height: 90%;
            width: 100%;
            @include sm {
                left: 0;
            }
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

.network__img-explain {
    display: flex;
    width: 100%;
    margin-top: -140px;
    @include sm {
        flex-direction: column;
        margin-top: -20px;
    }
    .explain__box {
        display: flex;
        width: max-content;
        align-items: center;
        width: 100%;
        justify-content: center;
        @include sm {
            justify-content: flex-start;
        }
        .explain__box-img {
            width: 25px;
            height: 25px;
            margin: 0 20px;
        }
        h3 {
            @include text(26px, s, 48px, black, uppercase);
            @include xs {
                @include text(16px, s, 32px, black, uppercase);
            }
        }
    }
}